<head>
  <link rel="stylesheet" href="/assets/bootstrap.css">
  <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
  <script type="text/javascript" src="/assets/bootstrap.js"></script>
  <link rel="stylesheet" href="/assets/spec/admin.css">
  <link rel="shorcut icon" href="/assets/logos/icon.png" />
  <%= csrf_meta_tags %>
  <script type="text/javascript" src="/assets/spec/admin.js"></script>
  <!-- for apple -->
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <link rel="apple-touch-icon" href="/assets/logos/icon.png" />
  <title>admin</title>
</head>
