<head>
  <link rel="stylesheet" href="/assets/bootstrap.css">
  <link rel="stylesheet" href="/assets/bootstrap-responsive.css">
  <link rel="stylesheet" href="/assets/bootstrap.js">
  <link rel="stylesheet" href="/assets/spec/admin.css">
  <%= csrf_meta_tags %>
  <title>Admin</title>
</head>
