<html>
<%= render(:partial => "head") %>
<body>
<%= render(:partial => "navbar") %>

<div class="contents">
  <div class="row-fluid">
    <div class="span3 bs-docs-sidebar">
      <%= render(:partial => "sidebar") %>
    </div>
    <div class="span9 main">
      <h5>選手一括登録</h5>
      <blockquote>
        <p class="text-warning">
          開発中です。<br>
          CSVファイルによって、画像以外の選手情報を一括でアップロードできるようにするつもりだけどバリデーションとかけっこうめんどくさい。
        </p>
      </blockquote>
    </div>
  </div>
</div>

</body>
</html>
