<html>
<%= render(:partial => "head") %>
<body>
<%= render(:partial => "navbar") %>
<div class="contents">
  <div class="row-fluid">
    <div class="span3 bs-docs-sidebar">
      <%= render(:partial => "sidebar") %>
    </div>
    <div class="span9 main">
      <h5>直近の試合を登録</h5>
    </div>
  </div>
</div>
</body>
</html>
