html, body {
  margin: 0;
  padding: 0;
  clear: both;
}

body {
  background-color: #f0f0f0;
  text-shadow: 0 1px 0 #fff;
}

h1.xlg {
  margin-top: 80px;
}

.navbar-inner {
  padding-left:  0;
  padding-right: 0;
}

.contents {
  width: 80%;
  min-width: 600px;
  margin: 0 auto;
}

.main {
  margin-top: 80px;
}

.nav-pills {
  margin-top: 80px;
  width: 200px;
}

li.active>a {
  text-shadow: 0 0 0 #fff;
}

img.prof-img {
  width: 120px;
}

.cell3>dl>dd {
  margin-left: 62px;
}

span.xsml {
  font-size: 0.3em;
}

td>dl>dt {
  font-size: 0.5em;
}

dt.newplayer {
  width: 80px;
  margin-right: 20px;
}

dl.newgame>dt {
  width: 180px;
  margin-bottom: 10px;
}
dl.newgame>dd {
  margin-left: 200px;
  margin-bottom: 10px;
}

dl.newgame>dd>input[type="text"] {
  font-size: 1.2em;
  height: 30px;
  size: 30;
  width: 340px;
}
