<h3><%= @mess %></h3>
<table class="table">
  <tr>
    <!--th>(dbg)</th-->
    <th colspan="3">
      <div class="to_home_list">
        <%= link_to image_tag( 'logos/' + @game[:away] + '_bar' + GIF_EXTENTION, :class => 'logo logo_bar'), FACEBOOK_PAGES[@game[:away]], {:target => '_blank'} -%>
        <small>facebookページ</small>
      </div>
    </th>
  </tr>
  <%= render(:partial => "playerrows") %>
</table>

