// Place all the styles related to the players controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@mixin sharp {
  color: #666;
  font-weight: bold;
  font-style: italic;
}
/***/
div.contents {
  table {
    tbody {
      tr {
        td {
          padding-top: 8px;
        }
        td.prof {
          width: 30%;
          img.prof-img {
            width: 100%;
            margin-bottom: 20px;
          }
        }
        td.info {
          width: 40%;
          span.sharp {
            @include sharp;
          }
          span.backnumber {
            font-size: 3em;
            line-height: 0.8em;
            @include sharp;
          }
          span.player-name {
            font-size: 1.4em;
          }
        }
        td.stars {
          width: 30%;
          img.img-star {
            width: 5px;
          }
          img.img-star-twenty {
            width: 14px;
          }
        }
      }
    }
  }
  table.show {
    tr {
      td.prof {
        width: 65%;
      }
      td.info {
        text-align: right;
        width: 35%;
        span.backnumber {
          font-size: 5em;
          line-height: 1em;
        }
      }
      td.introduction {
        width: 100%;
      }
      td.stars {
        width:65%;
      }
      td.vote {
        text-align: right;
        width:35%;
      }
    }
  }
}
