<div class="row">
  <p>あなたの抽選番号は</p>
  <p class="lottery lead">
    <%= @lottery %>
  </p>
  <p>です</p>
  <div id="lot-exp">
    <p>
      ハーフタイムに発表される番号をチェック！プレゼントをゲット！！
      詳しくはGangstersグッズテントまで☆
    </p>
  </div>
</div>

